<div>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="mt-5 md:col-span-2 md:mt-0">
      <%= form_with model: product, url: url, local: true do |f| %>
        <% if f.object.errors.any? %>
          <div class="alert alert-danger">
            <% f.object.errors.full_messages.each do |msg| %>
              <div><%= msg %></div>
            <% end %>
          </div>
        <% end %>
        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <%= f.label :name, "商品名稱", class:"block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= f.text_field :name, class:"mt-1 block w-full rounded-md border-gray-300 shadow-lg focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
                </div>
              </div>
            </div>
            <div>
              <%= f.label :description, "商品敘述", class:"block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= f.text_area :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-md focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
              </div>
            </div>
            <div>
              <%= f.label :price, "商品價格", class:"block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= f.number_field :price, class: "mt-1 block w-full rounded-md border-gray-300 shadow-md focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
              </div>
            </div>
            <%= f.label :sku, "商品庫存", class:"block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= f.number_field :sku, class: "mt-1 block w-full rounded-md border-gray-300 shadow-md focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
            </div>
          </div>
          <%# --------------------------------- dropzone --------------------------------- %>
          <% if @product.images.attached? %>
            <% @product.images.each do |img| %>
              <%= image_tag img.variant(resize: '300x300') %>
            <% end %>
          <% end %>
          <div class="mb-3" data-controller="image" id = "Img">
            <%=f.label :images, class: "form-label"  %>
            <%= f.file_field :images, multiple: true, class: "form-control", accept: "image/png, image/jpeg, image/jpg", "data-image-target": "input", "data-action": "image#preview" %>
            <div id="previewImgSection">
            </div>
          </div>
          <%# --------------------------------- dropzone --------------------------------- %>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <%= f.submit "新增", class: "inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
          </div>
        </div>
      </form>
    <% end %>
  </div>
</div>
</div>
